<web-app xmlns="http://java.sun.com/xml/ns/j2ee"
         xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
         xsi:schemaLocation="http://java.sun.com/xml/ns/j2ee
             http://java.sun.com/xml/ns/j2ee/web-app_2_4.xsd"
         version="2.4">

    <display-name>MockServiceBus</display-name>
    <listener>
        <listener-class>
            org.springframework.web.context.ContextLoaderListener
        </listener-class>
    </listener>



    <!--CONTEXT PARAMETERS-->
    <context-param>
        <param-name>contextConfigLocation</param-name>
        <param-value>/WEB-INF/application-context.xml</param-value>
    </context-param>
    <context-param>
        <param-name>shopTargetUrl</param-name>
        <param-value>
            http://shop.site1.local:9001/startcheckout?productid=CRM:simplePaper2
            http://shop.site2.local:9001/startcheckout?productid=CRM:simplePaper2
            http://shop.site1.ti-java.symmetrics.de/startcheckout?productid=product1
            http://shop.site2.ti-java.symmetrics.de/startcheckout?productid=product1
            https://shop.site1.local:9001/startcheckout?productid=CRM:simplePaper2
            https://shop.site2.local:9001/startcheckout?productid=CRM:simplePaper2
            https://shop.site1.ti-java.symmetrics.de/startcheckout?productid=product1
            https://shop.site2.ti-java.symmetrics.de/startcheckout?productid=product1
        </param-value>
    </context-param>
    <context-param>
        <param-name>portalsLocation</param-name>
        <param-value>portal/data</param-value>
    </context-param>



    <!--SERVLETS DEFINITIONS-->
    <servlet>
        <servlet-name>CXFServlet</servlet-name>
        <servlet-class>org.apache.cxf.transport.servlet.CXFServlet</servlet-class>
        <load-on-startup>1</load-on-startup>
    </servlet>
    <servlet>
        <servlet-name>mockUAGServlet</servlet-name>
        <servlet-class>com.cgi.pacoshop.mock.uag.servlet.MockUAGServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>mockPortalServlet</servlet-name>
        <servlet-class>com.cgi.pacoshop.mock.uag.servlet.MockPortalServlet</servlet-class>
    </servlet>



    <!--MAPPINGS-->
    <servlet-mapping>
        <servlet-name>CXFServlet</servlet-name>
        <url-pattern>/rest/*</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>mockUAGServlet</servlet-name>
        <url-pattern>/uag/Go</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>mockPortalServlet</servlet-name>
        <url-pattern>/portal/upload</url-pattern>
    </servlet-mapping>
</web-app>