<web-app xmlns="http://java.sun.com/xml/ns/j2ee"
         xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
         xsi:schemaLocation="http://java.sun.com/xml/ns/j2ee
             http://java.sun.com/xml/ns/j2ee/web-app_2_4.xsd"
         version="2.4">

    <display-name>MockServiceBus</display-name>
    <listener>
        <listener-class>
            org.springframework.web.context.ContextLoaderListener
        </listener-class>
    </listener>

    <!--CONTEXT PARAMETERS-->
    <context-param>
        <param-name>contextConfigLocation</param-name>
        <param-value>/WEB-INF/own-mocks-context.xml</param-value>
    </context-param>

    <context-param>
        <param-name>portalsLocation</param-name>
        <param-value>portal/data</param-value>
    </context-param>


    <!--SERVLETS DEFINITIONS-->
    <servlet>
        <servlet-name>CXFServlet</servlet-name>
        <servlet-class>org.apache.cxf.transport.servlet.CXFServlet</servlet-class>
        <load-on-startup>1</load-on-startup>
    </servlet>

    <servlet>
        <servlet-name>mockPortalServlet</servlet-name>
        <servlet-class>com.ownmocks.portal.servlet.MockPortalServlet</servlet-class>
    </servlet>

    <!--MAPPINGS-->
    <servlet-mapping>
        <servlet-name>CXFServlet</servlet-name>
        <url-pattern>/rest/*</url-pattern>
    </servlet-mapping>

    <servlet-mapping>
        <servlet-name>mockPortalServlet</servlet-name>
        <url-pattern>/portal/upload</url-pattern>
    </servlet-mapping>


</web-app>