<beans:beans xmlns="http://www.springframework.org/schema/security"
	xmlns:beans="http://www.springframework.org/schema/beans" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
	xsi:schemaLocation="http://www.springframework.org/schema/beans
	http://www.springframework.org/schema/beans/spring-beans-3.0.xsd
	http://www.springframework.org/schema/security
	http://www.springframework.org/schema/security/spring-security-3.2.xsd">


    <beans:import resource="mvc-dispatcher-servlet.xml" />
    <beans:import resource="spring-transactions.xml" />

    <global-method-security pre-post-annotations="enabled" secured-annotations="enabled"/>

	<http auto-config="true">
		<intercept-url pattern="/user**" access="ROLE_ADMIN" />

		<form-login 
		    login-page="/login"
		    default-target-url="/user/usersList"
			authentication-failure-url="/login?error"
			username-parameter="username"
			password-parameter="password" />
		<logout logout-success-url="/login?logout"  />
        <access-denied-handler error-page="/403"/>
		<!-- enable csrf protection -->
		<csrf/>
	</http>

	<authentication-manager>
		<authentication-provider>
			<!--<user-service>-->
				<!--<user name="dik81" password="035645" authorities="ROLE_ADMIN" />-->
				<!--<user name="dik82" password="035645" authorities="ROLE_FLASH" />-->
            <!--</user-service>-->

            <jdbc-user-service data-source-ref="dataSource"
                                        users-by-username-query="
                                        select username, password, active from users where username=?"
                                        authorities-by-username-query="select us.username, ur.authority
                                        from users us, user_roles ur  where us.user_id = ur.user_id
                                        and us.username =?  "
            />

		</authentication-provider>
	</authentication-manager>

</beans:beans>